<app-menu></app-menu>
<div class='component-content'>
  <div class='lefthalf'>
  </div>
</div>

    <table class="table table-sm" >
        <tr>
          
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Id</u></a></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Description</u></a></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Status</u></a></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Total</u></a></th>
      
        </tr>
        <tr>
          <td>{{pr.id}}</td>
          <td>{{pr.description}}</td>
          <td>{{pr.status}}</td>
          <td>{{pr.total | currency}}</td>
        </tr>
      </table>

      <table class="table table-sm" *ngIf = "prrequestlines">
          <tr>
              <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Id</u></a></th>
            <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Product</u></a></th>
            <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Quantity</u></a></th>
            <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Price</u></a></th>
            <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"><u>Line Total</u></a></th>
        
          </tr>
          <tr *ngFor="let prli of prrequestlines"  >
              <td>{{prli.id}}</td>
            <td>{{prli.product.name}}</td>
            <td>{{prli.quantity}}</td>
            <td>{{prli.product.price | currency}}</td>
            <td>{{prli.quantity * prli.product.price | currency}}</td>
            
          </tr>


        <button (click)='approve(pr)' class = "btn btn-success">Approve</button>


        <input [(ngModel)]="pr.reasonForRejection" type="text" placeholder="Reject message">
        <button *ngIf="pr.reasonForRejection"(click)='reject(pr)' class = "btn btn-danger" >Reject</button>
