<app-menu></app-menu>
<div>
  </div><div class='component-content'>
      <div>
          <span class='component-title'>{{title}}</span>  -->

<div id='component'>
  <div id = "pagetitle">
  <span>{{title}}</span>
  | <span><a routerLink='/purchaserequest/list'>Back to list</a></span>
  console.log(1);

</div>
<!-- <p *ngIf='!purchaseRequest'>Loading ...</p> -->

      <div *ngIf='purchaseRequest'>
          console.log(3); -->


		<!-- | <span><a routerLink='/purchaserequest/create'>New Product</a></span> -->
		| <span><a routerLink='/purchaserequest/list'>Back to list</a></span>
	</div>
	<p *ngIf='!purchaseRequest'>Loading ...</p>

	<div *ngIf='purchaseRequest'>

      <div class='form-group row' >
        console.log(2);
        <label class='col-form-label col-sm-2' for="purchaserequestuser">User:</label>
        <input [(ngModel)]='purchaseRequest.user.userName' name='Name' type="text" class="form-control col-sm-6" id="purchaserequestuser" aria-describedby="usrHelp" placeholder="UserName" disabled>
          <small id="usrHelp" class="form-text text-muted col-sm-2">The UserName</small>
      </div>

    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="id">pr Id:</label>
      <input [(ngModel)]='pr.Id' name = 'Id' type="text" class="form-control col-sm-6" 
      id="id" aria-describedby="idHelp" placeholder="Id">
      <small id="idHelp" class="form-text text-muted col-sm-2">Id</small>
    </div>
    <div class="form-group row">
        <label class='col-form-label col-sm-2' for="description">Description:</label>
        <input [(ngModel)]='pr.description' name = 'Description' type="text" class="form-control col-sm-6" 
        id="description" aria-describedby="descriptionHelp" placeholder="Description">
        <small id="descriptionHelp" class="form-text text-muted col-sm-2">Description</small>
      </div>
      <div class="form-group row">
          <label class='col-form-label col-sm-2' for="justification">Justification:</label>
          <input [(ngModel)]='pr.justification' name = 'Justification' type="text" class="form-control col-sm-6" 
          id="justification" aria-describedby="justificationHelp" placeholder="Justification">
          <small id="justificationHelp" class="form-text text-muted col-sm-2">Justification</small>
        </div>
        <div class="form-group row">
            <label class='col-form-label col-sm-2' for="dateNeeded">Date Needed:</label>
            <input [(ngModel)]='pr.dateNeeded' name = 'Date Needed' type="text" class="form-control col-sm-6" 
            id="dateNeeded" aria-describedby="dateNeededHelp" placeholder="Date Needed">
            <small id="dateNeededHelp" class="form-text text-muted col-sm-2">Date Needed</small>
          </div>
          <div class="form-group row">
              <label class='col-form-label col-sm-2' for="deliveryMode">Delivery Mode:</label>
              <input [(ngModel)]='pr.deliveryMode' name = 'Delivery Mode' type="text" class="form-control col-sm-6" 
              id="deliveryMode" aria-describedby="deliveryModeHelp" placeholder="Delivery Mode">
              <small id="deliveryModeHelp" class="form-text text-muted col-sm-2">Delivery Mode</small>
            </div>
            <div class="form-group row">
                <label class='col-form-label col-sm-2' for="status">Status:</label>
                <input [(ngModel)]='pr.status' name = 'Status' type="text" class="form-control col-sm-6" 
                id="status" aria-describedby="statusHelp" placeholder="Status">
                <small id="statusHelp" class="form-text text-muted col-sm-2">Status</small>
              </div>
              <div class="form-group row">
                  <label class='col-form-label col-sm-2' for="total">Total:</label>
                  <input [(ngModel)]='pr.total' name = 'Total' type="text" class="form-control col-sm-6" 
                  id="total" aria-describedby="totalHelp" placeholder="Total">
                  <small id="totalHelp" class="form-text text-muted col-sm-2">Total</small>
                </div>
                <div class="form-group row">
                    <label class='col-form-label col-sm-2' for="submittedDate">Submitted Date:</label>
                    <input [(ngModel)]='pr.submittedDate' name = 'Submitted Date' type="text" class="form-control col-sm-6" 
                    id="submittedDate" aria-describedby="submittedDateHelp" placeholder="Submitted Date">
                    <small id="submittedDateHelp" class="form-text text-muted col-sm-2">Submitted Date</small>
                  </div>
                  <div class="form-group row">
                      <label class='col-form-label col-sm-2' for="reasonForRejection">Reason For Rejection:</label>
                      <input [(ngModel)]='pr.reasonForRejection' name = 'Reason For Rejection' type="text" class="form-control col-sm-6" 
                      id="description" aria-describedby="descriptionHelp" placeholder="Description">
                      <small id="reasonForRejectionHelp" class="form-text text-muted col-sm-2">Reason For Rejection</small>
                    </div>
    <div class='form-group'>
      <button (click)='create()' class='btn btn-primary'>Create</button>
      
    </div>
  </div>
</div>

<!-- 
<app-menu></app-menu>
<div>
</div><div class='component-content'>
	<div>
		<span class='component-title'>{{title}}</span> 
		<!-- | <span><a routerLink='/purchaserequest/create'>New Product</a></span> -->
		| <span><a routerLink='/purchaserequest/list'>Back to list</a></span>
	</div>
	<p *ngIf='!purchaseRequest'>Loading ...</p>

	<div *ngIf='purchaseRequest'>
		<div class='form-group row' >
		  <label class='col-form-label col-sm-2' for="purchaserequestuser">User:</label>
		  <input [(ngModel)]='purchaseRequest.user.userName' name='Name' type="text" class="form-control col-sm-6" id="purchaserequestuser" aria-describedby="usrHelp" placeholder="UserName" disabled>
	      <small id="usrHelp" class="form-text text-muted col-sm-2">The UserName</small>
		</div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="purchaserequestdescription">Description:</label>
	    <input [(ngModel)]='purchaseRequest.description' name='Description' type="text" class="form-control col-sm-6" id="purchaserequestdescription" aria-describedby="descHelp" placeholder="Description">
	    <small id="descHelp" class="form-text text-muted col-sm-2">The Description</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="purchaserequestjustification">Justification:</label>
	    <input [(ngModel)]='purchaseRequest.justification' name='Justification' type="text" class="form-control col-sm-6" id="purchaserequestjustification" aria-describedby="jHelp" placeholder="Justification">
	    <small id="jHelp" class="form-text text-muted col-sm-2">The Justification</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="purchaserequestdateneeded">DateNeeded:</label>
	    <input [(ngModel)]='purchaseRequest.dateNeeded' name='Dateneeded' type="text" class="form-control col-sm-6" id="purchaserequestdateneeded" aria-describedby="dnHelp" placeholder="Dateneeded">
	    <small id="dnHelp" class="form-text text-muted col-sm-2">The DateNeeded</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="purchaserequestdeliverymode">Delivery mode:</label>
	    <input [(ngModel)]='purchaseRequest.deliveryMode' name='DeliveryMode' type="text" class="form-control col-sm-6" id="purchaserequestdeliverymode" aria-describedby="dlvHelp" placeholder="Delivery Mode">
	    <small id="dlvHelp" class="form-text text-muted col-sm-2">The Delivery mode</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="purchaserequesttotal">Total:</label>
	    <input [(ngModel)]='purchaseRequest.total' name='Total' type="text" class="form-control col-sm-6" id="purchaserequesttotal" aria-describedby="totalHelp" placeholder="Total" disabled="disabled">
	    <small id="totalHelp" class="form-text text-muted col-sm-2">The Total</small>
	  </div>
	  <div class="form-group row">
	    <label class='col-form-label col-sm-2' for="purchaserequsubmitteddate">SubmittedDate:</label>
	    <input [(ngModel)]='purchaseRequest.submittedDate' name='Submitteddate' type="text" class="form-control col-sm-6" id="purchaserequsubmitteddate" aria-describedby="sdHelp" placeholder="Submitteddate" disabled="disabled">
	    <small id="sdHelp" class="form-text text-muted col-sm-2">The SubmittedDate</small>
	  </div>
	  <div class='form-group'>
	  	<button (click)='create()' class='btn btn-primary'>Create</button>
	  </div>
  </div>
</div> -->